# Assignment on Decision Tree Classifier:

A dataset collected in a cosmetics shop showing details of customers and whether or not they
responded to a special offer to buy a new lip-stick is shown in table below. Use this dataset to
build a decision tree, with Buys as the target variable, to help in buying lip-sticks in the future.
<br>
Find the root node of decision tree. According to the decision tree you have made from
previous training data set, what is the decision for the test data: 
<br>
[Age < 21, Income = Low, Gender = Female, Marital Status = Married]?

In [77]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

from PIL import Image

In [64]:
data = pd.read_csv('data_decision_tree.csv')

In [65]:
x = data.iloc[:, 1:-1]
y = data['Buys']
y.shape

(14,)

In [66]:
le = LabelEncoder()
xt = x.apply(le.fit_transform)
# yt = y.apply(le.fit_transform)
# x = le.fit_transform(x)
yt = le.fit_transform(y)

In [67]:
xt

    Age  Income  Gender  Marital Staus
0     1       0       1              1
1     1       0       1              0
2     0       0       1              1
3     2       2       1              1
4     2       1       0              1
5     2       1       0              0
6     0       1       0              0
7     1       2       1              1
8     1       1       0              0
9     2       2       0              1
10    1       2       0              0
11    0       2       1              0
12    0       0       0              1
13    2       2       1              0

In [68]:
yt

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [69]:
model = DecisionTreeClassifier()
model.fit(xt, yt)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [73]:
temp = [[1, 0, 1, 1]]
result = model.predict(temp)
print(result)

[0]